.git
.gitignore
.idea
.venv
.vs
.vscode
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.hprof
employee_time_tracking_connection_string.txt
flask_stdout.log
flask_stderr.log
mobile_api_stdout.log
mobile_api_stderr.log
.env
.env.*
android/build/
android/.gradle/
android/.idea/
android/
mobile_api/__pycache__/
mobile_api/
docs/
resources/
sql/
EmployeeTimeTracking.sql
EmployeeTimeTracking_*
build/
dist/
README.md
