USE [master]
GO
/****** Object:  Database [EmployeeTimeTracking]    Script Date: 4/9/2026 9:12:14 AM ******/
CREATE DATABASE [EmployeeTimeTracking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeTimeTracking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\EmployeeTimeTracking.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeTimeTracking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\EmployeeTimeTracking_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeTimeTracking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeTimeTracking]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetMonthlyAccrualHours]    Script Date: 4/9/2026 9:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[fn_GetMonthlyAccrualHours]
(
    @HireDate DATE
)
RETURNS DECIMAL(8,2)
AS
BEGIN
    DECLARE @YearsEmployed INT = DATEDIFF(YEAR, @HireDate, CAST(GETDATE() AS DATE));

    IF DATEADD(YEAR, @YearsEmployed, @HireDate) > CAST(GETDATE() AS DATE)
        SET @YearsEmployed = @YearsEmployed - 1;

    RETURN
    (
        CASE
            WHEN @YearsEmployed < 3 THEN 10.00
            WHEN @YearsEmployed < 5 THEN 12.00
            ELSE 14.00
        END
    );
END;

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 4/9/2026 9:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Username] [nvarchar](60) NOT NULL,
	[IsHeadStart] [bit] NOT NULL,
	[ReportsToEmployeeId] [int] NULL,
	[PasswordSalt] [varchar](32) NOT NULL,
	[PasswordHash] [varchar](64) NOT NULL,
	[MustChangePassword] [bit] NOT NULL,
	[RoleId] [int] NOT NULL,
	[HireDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveLedger]    Script Date: 4/9/2026 9:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveLedger](
	[LeaveLedgerId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[EntryDate] [date] NOT NULL,
	[LeaveType] [nvarchar](20) NOT NULL,
	[Hours] [decimal](8, 2) NOT NULL,
	[EntryReason] [nvarchar](30) NOT NULL,
	[ReferenceId] [int] NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LeaveLedgerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_EmployeeLeaveBalances]    Script Date: 4/9/2026 9:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_EmployeeLeaveBalances]
AS
SELECT
    E.EmployeeId,
    SUM(CASE WHEN L.LeaveType = 'Annual' THEN L.Hours ELSE 0 END) AS AnnualLeaveHours,
    SUM(CASE WHEN L.LeaveType = 'Sick' THEN L.Hours ELSE 0 END) AS SickLeaveHours,
    SUM(CASE WHEN L.LeaveType = 'Personal' THEN L.Hours ELSE 0 END) AS PersonalLeaveHours
FROM dbo.Employees E
LEFT JOIN dbo.LeaveLedger L ON L.EmployeeId = E.EmployeeId
GROUP BY E.EmployeeId;

GO
/****** Object:  Table [dbo].[LeaveRequests]    Script Date: 4/9/2026 9:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequests](
	[LeaveRequestId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[LeaveType] [nvarchar](20) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[RequestedHours] [decimal](8, 2) NOT NULL,
	[ApprovalStatus] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[RequestedAt] [datetime2](7) NOT NULL,
	[ApprovedByEmployeeId] [int] NULL,
	[ApprovedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LeaveRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/9/2026 9:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeEntries]    Script Date: 4/9/2026 9:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeEntries](
	[TimeEntryId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ClockInTime] [datetime2](7) NOT NULL,
	[ClockOutTime] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeEntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_IsHeadStart]  DEFAULT ((0)) FOR [IsHeadStart]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_MustChangePassword]  DEFAULT ((1)) FOR [MustChangePassword]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LeaveLedger] ADD  CONSTRAINT [DF_LeaveLedger_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  CONSTRAINT [DF_LeaveRequests_ApprovalStatus]  DEFAULT ('Pending') FOR [ApprovalStatus]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  CONSTRAINT [DF_LeaveRequests_RequestedAt]  DEFAULT (sysutcdatetime()) FOR [RequestedAt]
GO
ALTER TABLE [dbo].[TimeEntries] ADD  CONSTRAINT [DF_TimeEntries_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_ReportsTo] FOREIGN KEY([ReportsToEmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_ReportsTo]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Roles]
GO
ALTER TABLE [dbo].[LeaveLedger]  WITH CHECK ADD  CONSTRAINT [FK_LeaveLedger_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[LeaveLedger] CHECK CONSTRAINT [FK_LeaveLedger_Employees]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequests_Approvers] FOREIGN KEY([ApprovedByEmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [FK_LeaveRequests_Approvers]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequests_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [FK_LeaveRequests_Employees]
GO
ALTER TABLE [dbo].[TimeEntries]  WITH CHECK ADD  CONSTRAINT [FK_TimeEntries_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[TimeEntries] CHECK CONSTRAINT [FK_TimeEntries_Employees]
GO
ALTER TABLE [dbo].[LeaveLedger]  WITH CHECK ADD  CONSTRAINT [CK_LeaveLedger_Reason] CHECK  (([EntryReason]='Adjustment' OR [EntryReason]='Usage' OR [EntryReason]='Accrual'))
GO
ALTER TABLE [dbo].[LeaveLedger] CHECK CONSTRAINT [CK_LeaveLedger_Reason]
GO
ALTER TABLE [dbo].[LeaveLedger]  WITH CHECK ADD  CONSTRAINT [CK_LeaveLedger_Type] CHECK  (([LeaveType]='Personal' OR [LeaveType]='Sick' OR [LeaveType]='Annual'))
GO
ALTER TABLE [dbo].[LeaveLedger] CHECK CONSTRAINT [CK_LeaveLedger_Type]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [CK_LeaveRequests_Status] CHECK  (([ApprovalStatus]='Canceled' OR [ApprovalStatus]='Denied' OR [ApprovalStatus]='Approved' OR [ApprovalStatus]='Pending'))
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [CK_LeaveRequests_Status]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [CK_LeaveRequests_Type] CHECK  (([LeaveType]='Personal' OR [LeaveType]='Sick' OR [LeaveType]='Annual'))
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [CK_LeaveRequests_Type]
GO
/****** Object:  StoredProcedure [dbo].[usp_CancelLeaveRequest]    Script Date: 4/9/2026 9:12:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_CancelLeaveRequest]
    @LeaveRequestId INT,
    @EmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.LeaveRequests
    SET ApprovalStatus = 'Canceled',
        ApprovedByEmployeeId = @EmployeeId,
        ApprovedAt = SYSDATETIME(),
        Notes = COALESCE(Notes + ' | ', '') + 'Canceled by employee'
    WHERE LeaveRequestId = @LeaveRequestId
      AND EmployeeId = @EmployeeId
      AND ApprovalStatus = 'Pending';

    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('Only pending leave requests can be cancelled by the requesting employee.', 16, 1);
        RETURN;
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[usp_ClockIn]    Script Date: 4/9/2026 9:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_ClockIn]
    @EmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM dbo.TimeEntries
        WHERE EmployeeId = @EmployeeId
          AND ClockOutTime IS NULL
    )
    BEGIN
        RAISERROR('Employee is already clocked in.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.TimeEntries (EmployeeId, ClockInTime)
    VALUES (@EmployeeId, SYSDATETIME());
END;

GO
/****** Object:  StoredProcedure [dbo].[usp_ClockOut]    Script Date: 4/9/2026 9:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_ClockOut]
    @EmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE TOP (1) dbo.TimeEntries
    SET ClockOutTime = SYSDATETIME()
    WHERE EmployeeId = @EmployeeId
      AND ClockOutTime IS NULL;

    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('Employee is not currently clocked in.', 16, 1);
        RETURN;
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[usp_CreateEmployee]    Script Date: 4/9/2026 9:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_CreateEmployee]
    @FullName NVARCHAR(150),
    @Username NVARCHAR(60),
    @RoleName NVARCHAR(50),
    @IsHeadStart BIT,
    @ReportsToEmployeeId INT = NULL,
    @HireDate DATE,
    @PasswordSalt VARCHAR(32),
    @PasswordHash VARCHAR(64)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Roles WHERE RoleName = @RoleName)
    BEGIN
        RAISERROR('Invalid role name.', 16, 1);
        RETURN;
    END

    IF @RoleName = 'Executive Director'
        SET @ReportsToEmployeeId = NULL;

    INSERT INTO dbo.Employees
    (
        FullName,
        Username,
        IsHeadStart,
        ReportsToEmployeeId,
        PasswordSalt,
        PasswordHash,
        MustChangePassword,
        RoleId,
        HireDate
    )
    VALUES
    (
        @FullName,
        @Username,
        @IsHeadStart,
        @ReportsToEmployeeId,
        @PasswordSalt,
        @PasswordHash,
        1,
        (SELECT RoleId FROM dbo.Roles WHERE RoleName = @RoleName),
        @HireDate
    );
END;

GO
/****** Object:  StoredProcedure [dbo].[usp_GetBiWeeklyTimesheet]    Script Date: 4/9/2026 9:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_GetBiWeeklyTimesheet]
    @EmployeeId INT,
    @PeriodStartDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PeriodEndDate DATE = DATEADD(DAY, 13, @PeriodStartDate);

    SELECT
        TimeEntryId,
        CAST(ClockInTime AS DATE) AS WorkDate,
        ClockInTime,
        ClockOutTime,
        CAST(
            CASE
                WHEN ClockOutTime IS NULL THEN 0
                ELSE DATEDIFF(MINUTE, ClockInTime, ClockOutTime) / 60.0
            END
            AS DECIMAL(8,2)
        ) AS WorkedHours
    FROM dbo.TimeEntries
    WHERE EmployeeId = @EmployeeId
      AND CAST(ClockInTime AS DATE) BETWEEN @PeriodStartDate AND @PeriodEndDate
    ORDER BY ClockInTime;
END;

GO
/****** Object:  StoredProcedure [dbo].[usp_PostMonthlyLeaveAccruals]    Script Date: 4/9/2026 9:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_PostMonthlyLeaveAccruals]
    @AccrualDate DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EffectiveDate DATE = ISNULL(@AccrualDate, EOMONTH(GETDATE()));

    INSERT INTO dbo.LeaveLedger
    (
        EmployeeId,
        EntryDate,
        LeaveType,
        Hours,
        EntryReason,
        Notes
    )
    SELECT
        E.EmployeeId,
        @EffectiveDate,
        LT.LeaveType,
        dbo.fn_GetMonthlyAccrualHours(E.HireDate),
        'Accrual',
        CONCAT('Monthly accrual for ', YEAR(@EffectiveDate), '-', RIGHT(CONCAT('0', MONTH(@EffectiveDate)), 2))
    FROM dbo.Employees E
    CROSS APPLY
    (
        VALUES
            ('Sick'),
            (CASE WHEN E.IsHeadStart = 1 THEN 'Personal' ELSE 'Annual' END)
    ) LT(LeaveType)
    WHERE E.IsActive = 1
      AND NOT EXISTS
      (
          SELECT 1
          FROM dbo.LeaveLedger L
          WHERE L.EmployeeId = E.EmployeeId
            AND L.LeaveType = LT.LeaveType
            AND L.EntryReason = 'Accrual'
            AND YEAR(L.EntryDate) = YEAR(@EffectiveDate)
            AND MONTH(L.EntryDate) = MONTH(@EffectiveDate)
      );
END;

GO
/****** Object:  StoredProcedure [dbo].[usp_ProcessLeaveRequest]    Script Date: 4/9/2026 9:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_ProcessLeaveRequest]
    @LeaveRequestId INT,
    @ApprovalStatus NVARCHAR(20),
    @ApprovedByEmployeeId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EmployeeId INT;
    DECLARE @LeaveType NVARCHAR(20);
    DECLARE @RequestedHours DECIMAL(8,2);
    DECLARE @CurrentBalance DECIMAL(8,2);

    SELECT
        @EmployeeId = EmployeeId,
        @LeaveType = LeaveType,
        @RequestedHours = RequestedHours
    FROM dbo.LeaveRequests
    WHERE LeaveRequestId = @LeaveRequestId
      AND ApprovalStatus = 'Pending';

    IF @EmployeeId IS NULL
    BEGIN
        RAISERROR('Leave request was not found or is already processed.', 16, 1);
        RETURN;
    END

    IF @ApprovalStatus = 'Approved'
    BEGIN
        SELECT
            @CurrentBalance =
                CASE
                    WHEN @LeaveType = 'Annual' THEN AnnualLeaveHours
                    WHEN @LeaveType = 'Personal' THEN PersonalLeaveHours
                    ELSE SickLeaveHours
                END
        FROM dbo.vw_EmployeeLeaveBalances
        WHERE EmployeeId = @EmployeeId;

        IF ISNULL(@CurrentBalance, 0) < @RequestedHours
        BEGIN
            RAISERROR('Insufficient leave balance.', 16, 1);
            RETURN;
        END

        INSERT INTO dbo.LeaveLedger
        (
            EmployeeId,
            EntryDate,
            LeaveType,
            Hours,
            EntryReason,
            ReferenceId,
            Notes
        )
        VALUES
        (
            @EmployeeId,
            CAST(GETDATE() AS DATE),
            @LeaveType,
            @RequestedHours * -1,
            'Usage',
            @LeaveRequestId,
            'Approved leave request'
        );
    END

    UPDATE dbo.LeaveRequests
    SET ApprovalStatus = @ApprovalStatus,
        ApprovedByEmployeeId = @ApprovedByEmployeeId,
        ApprovedAt = SYSDATETIME()
    WHERE LeaveRequestId = @LeaveRequestId;
END;

GO
/****** Object:  StoredProcedure [dbo].[usp_RequestLeave]    Script Date: 4/9/2026 9:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_RequestLeave]
    @EmployeeId INT,
    @LeaveType NVARCHAR(20),
    @StartDate DATE,
    @EndDate DATE,
    @RequestedHours DECIMAL(8,2),
    @Notes NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IsHeadStart BIT;

    SELECT @IsHeadStart = IsHeadStart
    FROM dbo.Employees
    WHERE EmployeeId = @EmployeeId;

    IF @EndDate < @StartDate
    BEGIN
        RAISERROR('End date cannot be earlier than start date.', 16, 1);
        RETURN;
    END

    IF @IsHeadStart = 1 AND @LeaveType = 'Annual'
    BEGIN
        RAISERROR('Head Start employees accrue Personal leave instead of Annual leave.', 16, 1);
        RETURN;
    END

    IF ISNULL(@IsHeadStart, 0) = 0 AND @LeaveType = 'Personal'
    BEGIN
        RAISERROR('Only Head Start employees can request Personal leave.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.LeaveRequests
    (
        EmployeeId,
        LeaveType,
        StartDate,
        EndDate,
        RequestedHours,
        Notes
    )
    VALUES
    (
        @EmployeeId,
        @LeaveType,
        @StartDate,
        @EndDate,
        @RequestedHours,
        @Notes
    );
END;

GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateEmployee]    Script Date: 4/9/2026 9:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_UpdateEmployee]
    @EmployeeId INT,
    @FullName NVARCHAR(150),
    @Username NVARCHAR(60),
    @RoleName NVARCHAR(50),
    @IsHeadStart BIT,
    @ReportsToEmployeeId INT = NULL,
    @HireDate DATE,
    @IsActive BIT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Roles WHERE RoleName = @RoleName)
    BEGIN
        RAISERROR('Invalid role name.', 16, 1);
        RETURN;
    END

    IF @RoleName = 'Executive Director'
        SET @ReportsToEmployeeId = NULL;

    UPDATE dbo.Employees
    SET FullName = @FullName,
        Username = @Username,
        IsHeadStart = @IsHeadStart,
        ReportsToEmployeeId = @ReportsToEmployeeId,
        RoleId = (SELECT RoleId FROM dbo.Roles WHERE RoleName = @RoleName),
        HireDate = @HireDate,
        IsActive = @IsActive
    WHERE EmployeeId = @EmployeeId;

    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('Employee not found.', 16, 1);
        RETURN;
    END
END;

GO
USE [master]
GO
